{% extends "layouts/layout.njk" %}

{% block content %}

<!-- Set Variable Value For Banner Title -->

{% set bannerTitle = "About" %}

{% include 'layouts/header-2.njk' %}

<main>
   <!-- Tourism History -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper container-padding-2 tourism-history">
            <div class="feature-left">
               <img src="assets/images/history.jpg" alt="Tourism History">
            </div>
            <div class="feature-right">
               <h2>History of bangladesh toursim board</h2>
               <p>While the world of travel is constantly changing, the hunger for escape and discovery does not. At
                  WTM London, we believe there is limitless potential for your business, and we designed our show to
                  make that potential a reality.
                  <span>&nbsp;</span>
                  Your future begins today, and the potential is breathtaking. At WTM London, we apply our experience
                  as the world leader to bring travel professionals together from around the world to engage in
                  powerful networking opportunities, learn expert insights from the world’s brightest minds and so
                  much more.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Bangladesh civil aviation -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper civil">
            <div class="feature-left">
               <img src="assets/images/civil.jpg" alt="Bitte Overview Image">
            </div>
            <div class="feature-right">
               <h2>Bangladesh civil aviation</h2>
               <p>
                  While the world of travel is constantly changing, the hunger for escape and discovery does not. At
                  WTM
                  London, we believe there is limitless potential for your business, and we designed our show to make
                  that
                  potential a reality.
                  <span>&nbsp;</span>
                  Your future begins today, and the potential is breathtaking. At WTM London, we apply our experience
                  as the
                  world leader to bring travel professionals together from around the world to engage in powerful
                  networking
                  opportunities, learn expert insights from the world’s brightest minds and so much more.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Atab Vision -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper container-padding-2 atab">
            <div class="feature-left">
               <img src="assets/images/atab.jpg" alt="Bitte Overview Image">
            </div>
            <div class="feature-right">
               <h2>Atab Vision</h2>
               <p>
                  While the world of travel is constantly changing, the hunger for escape and discovery does not. At
                  WTM
                  London, we believe there is limitless potential for your business, and we designed our show to make
                  that
                  potential a reality.
                  <span>&nbsp;</span>
                  Your future begins today, and the potential is breathtaking. At WTM London, we apply our experience
                  as the
                  world leader to bring travel professionals together from around the world to engage in powerful
                  networking
                  opportunities, learn expert insights from the world’s brightest minds and so much more.
               </p>
            </div>
         </div>
      </div>
   </div>
</main>

{% include 'layouts/footer.njk' %}

{% endblock %}