{% extends "layouts/layout.njk" %}

{% block content %}

{% include 'layouts/header.njk' %}

<main>
   <!-- Tourism Board -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper container-padding tourism-board">
            <div class="feature-left">
               <img src="assets/images/tourism-board.jpg" alt="Tourism Board">
            </div>
            <div class="feature-right">
               <h2>Future of bangladesh tourism board</h2>
               <p>While the world of travel is constantly changing, the hunger for escape and discovery does not. At WTM
                  London, we believe there is limitless potential for your business, and we designed our show to make
                  that
                  potential a reality.
                  <span>&nbsp;</span>
                  Your future begins today, and the potential is breathtaking. At WTM London, we apply our experience as
                  the
                  world leader to bring travel professionals together from around the world to engage in powerful
                  networking
                  opportunities, learn expert insights from the world’s brightest minds and so much more.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Cards -->
   <div class="cards-body container-padding">
      <div class="custom-container">
         <div class="cards">
            <div class="card-item">
               <div>
                  <img class="card-img" src="assets/images/card-1.jpg" alt="About Image">
               </div>
               <div class="card-text">
                  <h3>About us</h3>
                  <p>Discover the WTM London story and learn how we've been bringing innovation and opportunity to the
                     world’s travel providers for decades.</p>
                  <div>
                     <a href="#" class="bt-btn h-48 btn-primary">Our Story</a>
                  </div>
               </div>
            </div><!-- Card Item -->

            <div class="card-item">
               <div>
                  <img class="card-img" src="assets/images/card-2.jpg" alt="About Image">
               </div>
               <div class="card-text">
                  <h3>Visit</h3>
                  <p>Discover the WTM London story and learn how we've been bringing innovation and opportunity to the
                     world’s travel providers for decades.</p>
                  <div>
                     <a href="#" class="bt-btn h-48 btn-primary">Visit</a>
                  </div>
               </div>
            </div><!-- Card Item -->

            <div class="card-item">
               <div>
                  <img class="card-img" src="assets/images/card-3.jpg" alt="About Image">
               </div>
               <div class="card-text">
                  <h3>Exhibit</h3>
                  <p>Discover the WTM London story and learn how we've been bringing innovation and opportunity to the
                     world’s travel providers for decades.</p>
                  <div>
                     <a href="#" class="bt-btn h-48 btn-primary">Exhibit with us</a>
                  </div>
               </div>
            </div><!-- Card Item -->
         </div>
      </div>
   </div>

   <!-- BITTE over view -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper container-padding bitte-overview">
            <div class="feature-left">
               <img src="assets/images/bitte-overview.jpg" alt="Bitte Overview Image">
            </div>
            <div class="feature-right">
               <h2>BITTE over view?</h2>
               <p>
                  While the world of travel is constantly changing, the hunger for escape and discovery does not. At WTM
                  London, we believe there is limitless potential for your business, and we designed our show to make
                  that
                  potential a reality.
                  <span>&nbsp;</span>
                  Your future begins today, and the potential is breathtaking. At WTM London, we apply our experience as
                  the
                  world leader to bring travel professionals together from around the world to engage in powerful
                  networking
                  opportunities, learn expert insights from the world’s brightest minds and so much more.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Our Partner -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper partner">
            <div class="feature-left">
               <div class="partner-icon-wrapper">
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
               </div>
            </div>
            <div class="feature-right">
               <h2>Our Partners</h2>
               <p>
                  World's most influential media, entertainment & technology show inspirational speakers including game
                  changing not just a large-scale.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Event Location -->
   <div class="event-location">
      <iframe class="map-frame"
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.3875782999316!2d90.3793891149817!3d23.76920898458015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c75125f8e4f7%3A0xf7b9edc3b8747c3a!2sBangabandhu%20International%20Conference%20Center!5e0!3m2!1sen!2sbd!4v1655273801001!5m2!1sen!2sbd"
         style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="custom-container">
         <div class="event-location__details">
            <h2>Event Details</h2>
            <h3>BICC</h3>
            <p>
               Agargaon, Sher-E-Bangla Nagar <br>
               Dhaka - 1207 <br>
               Bangladesh.
            </p>
            <a href="/coming-soon.html" class="bt-btn h-48 btn-primary">Register Now</a>
         </div>
      </div>
   </div>
</main>

{% include 'layouts/footer.njk' %}

{% endblock %}