{% extends "layouts/layout.njk" %}

{% block content %}

{% include 'layouts/header.njk' %}

<main>

   <!-- Tourism Board -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper container-padding tourism-board">
            <div class="feature-left">
               <img class="feature-image" src="assets/images/tourism-board.jpg" alt="Tourism Board">
            </div>
            <div class="feature-right">
               <h2>Future of Tourism Bangladesh</h2>
               <p>Bangladesh is a land of natural beauty, incredible history, seashores, world heritage sites, diverse
                  wildlife etc. Despite being affected by COVID-19, Bangladesh is one of the countries that grasped the
                  situation and opened tourism to everyone. According to WEF data, 97% of the tourists are locals, and
                  there
                  is still a lot of room for foreign tourists to visit Bangladesh.
                  <span>&nbsp;</span>
                  Bangladesh tourism was held back due to a lack of convenient transportation, scarcity of travel
                  information, lacklustre marketing strategies etc. BITTE is working to expand the horizons of
                  Bangladesh’s
                  tourism by overcoming its shortcomings. BITTE aims to nurture collaboration between local and
                  international tourism companies to forge a clear path for the industry. Its experience in the industry
                  will be essential in overcoming challenges and hurdles. Bangladesh is set to become a trending
                  destination
                  for both international and domestic tourists.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Cards -->
   <div class="cards-body container-padding">
      <div class="custom-container">
         <div class="cards">
            <div class="card-item">
               <div>
                  <img class="card-img" src="assets/images/about-us.jpg" alt="About Image">
               </div>
               <div class="card-text">
                  <h3>About us</h3>
                  <p>Explore the story of BITTE and dive deeper into the process of discovering the scale, innovation
                     and
                     opportunities of Bangladesh and the international travel and tourism industry.</p>
                  <div>
                     <a href="#" class="bt-btn h-48 btn-primary">Our Story</a>
                  </div>
               </div>
            </div><!-- Card Item -->

            <div class="card-item">
               <div>
                  <img class="card-img" src="assets/images/card-2.jpg" alt="About Image">
               </div>
               <div class="card-text">
                  <h3>Visit</h3>
                  <p>Discover the WTM London story and learn how we've been bringing innovation and opportunity to the
                     world’s travel providers for decades.</p>
                  <div>
                     <a href="#" class="bt-btn h-48 btn-primary">Visit</a>
                  </div>
               </div>
            </div><!-- Card Item -->

            <div class="card-item">
               <div>
                  <img class="card-img" src="assets/images/card-3.jpg" alt="About Image">
               </div>
               <div class="card-text">
                  <h3>Exhibit</h3>
                  <p>Discover the WTM London story and learn how we've been bringing innovation and opportunity to the
                     world’s travel providers for decades.</p>
                  <div>
                     <a href="#" class="bt-btn h-48 btn-primary">Exhibit with us</a>
                  </div>
               </div>
            </div><!-- Card Item -->
         </div>
      </div>
   </div>

   <!-- BITTE over view -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper container-padding bitte-overview">
            <div class="feature-left">
               <img class="feature-image" src="assets/images/overview.jpg" alt="Bitte Overview Image">
            </div>
            <div class="feature-right">
               <h2>BITTE Overview</h2>
               <p>
                  Bangladesh is the fastest socio economically growing country and Government of Bangladesh has taken
                  many
                  initiatives to promote travel & tourism.
                  One of the mandates of ATAB is to expand the horizon of business opportunities in travel trade to and
                  from
                  Bangladesh. With this view in focus, ATAB works in tandem with the Tourism Ministry/Bodies not only in
                  Bangladesh but also with other organization across the world to further the development of relations
                  so
                  that there is a mutual benefit for both countries.
                  With the above objectives in mind, ATAB has embarked upon holding a mega event BITTE (Bangladesh
                  International Travel and Tourism Expo) to be held in December 2022.
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Our Partner -->
   <div class="feature-body">
      <div class="custom-container">
         <div class="feature-wrapper partner">
            <div class="feature-left">
               <div class="partner-icon-wrapper">
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
                  <a href="#">
                     <img class="partner-icon" src="assets/images/partner.png" alt="Partner Image">
                  </a>
               </div>
            </div>
            <div class="feature-right">
               <h2>Our Partners</h2>
               <p>
                  World's most influential media, entertainment & technology show inspirational speakers including game
                  changing not just a large-scale.
               </p>
            </div>
         </div>
      </div>
   </div>
</main>

{% include 'layouts/footer.njk' %}

{% endblock %}