*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media screen and(max-width: 990px) {
    font-size: 55%;
  }

  @media screen and(max-width: 768px) {
    font-size: 52%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: unset;
  }
}

img {
  width: 100%;
}
