<footer>
   <div class="footer">
      <div class="custom-container">
         <div class="footer-content">
            <div class="row g-5">
               <div class="col-md-3">
                  <div class="about item">
                     <div class="logo">
                        <a href="/">
                           <img src="assets/images/logo_new.png" alt="BITTE Logo">
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="contact-us item">
                     <div class="title">Contact Us</div>
                     <ul>
                        <li>
                           <div class="label">Address</div>
                           <span>Sattara Center (15th Floor), 30/A Naya Paltan, VIP Road, Dhaka-1000, Bangladesh.</span>
                        </li>
                        <li>
                           <div class="label">Email</div>
                           <span><a href="mailto:bitte@atab.org.bd">bitte@atab.org.bd</a></span>
                        </li>
                        <li>
                           <div class="label">Phone</div>
                           <span><a href="tel:+8801785087148">+8801785087148</a></span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="footer-social item">
                     <div class="title">Social Media</div>
                     {%
                     set social = {
                     "Facebook":
                     "https://www.facebook.com/Bangladesh-International-Travel-Tourism-Expo-BITTE-101073642648043/?ref=pages_you_manage",
                     "Instagram": "https://www.instagram.com/bitte.atab/",
                     "Twitter": "https://twitter.com/BangladeshExpo"
                     }
                     %}

                     <ul>
                        {% for itemName, socialLinks in social %}
                        <li>
                           <a href="{{socialLinks}}" target="_blank">{{itemName}}</a>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="all-rights">
            <span>@ 2022 BITTE. All Rights Reserved</span>
         </div>
      </div>
   </div>
</footer>