<header>
    <div class="container-fluid p-0">

        <!-- Responsive Menu -->
        <div class="mobile-header-top">
            <div class="responsive-menu">

                <div class="logo">
                    <a href="/">
                        <img src="assets/images/logo_new.png" alt="Logo">
                    </a>
                </div>


                <div class="toggle-icon">
                    <button id="toggleBarId" class="toggle-bar" onclick="menuOpen()" style="display: block;">
                        <img src="assets/images/icons/toggle.svg" alt="Toggle Logo">
                    </button>
                    <button id="toggleCrossId" class="toggle-cross" onclick="menuClose()" style="display: none;">
                        <img src="assets/images/icons/cross.svg" alt="Cross Logo">
                    </button>
                </div>
            </div>

            <div id="mobileMenu" class="mobile-menu" style="display: none;">
                <ul>
                    <li>
                        <a href="#bitte">BITTE</a>
                    </li>
                    <li>
                        <a href="#aboutUs">About us</a>
                    </li>

                    <li>
                        <a href="#visit">Visit</a>
                    </li>
                    <li>
                        <a href="#exhibit">Exhibit</a>
                    </li>
                    <li>
                        <a href="#partners">Partner</a>
                    </li>
                    <li>
                        <a href="#news">News & Media</a>
                    </li>
                    <li>
                        <a class="bt-btn h-34 w-100 registrationButton" href="#">Registration</a>
                    </li>
                </ul>
            </div>
        </div><!-- Responsive Menu End -->

        <div class="custom-container">
            <div class="header-top-werapper">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/logo_new.png" alt="Logo">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img class="top-banner" src="assets/images/top-banner.png" alt="Banner">
                    </a>
                </div>
                <div class="top-right-wrapper">

                    <div class="d-flex flex-column">
                        <button class="bt-btn h-34 c-mr-6 c-mb-6 registration registrationButton">Registration</button>
                        <a class="bt-btn h-34 c-mr-6" href="#">Sign up</a>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Bangladesh-International-Travel-Tourism-Expo-BITTE-101073642648043/?ref=pages_you_manage"
                                        target="_blank">
                                        <img src="assets/images/icons/fb.svg" alt="Facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/bitte.atab/" target="_blank">
                                        <img src="assets/images/icons/in.svg" alt="Instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/BangladeshExpo" target="_blank">
                                        <img src="assets/images/icons/tw.svg" alt="Twitter">
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a class="bt-btn h-34" href="mailto:bitte@atab.org.bd">Contact us</a>
                    </div>
                </div>
            </div>
        </div><!-- custom-container end -->
    </div>
</header>