<header>
   <div class="container-fluid p-0">

      <!-- Responsive Menu -->
      <div class="mobile-header-top">
         <div class="responsive-menu">

            <div class="logo">
               <a href="index.html">
                  <img src="assets/images/logo.png" alt="Logo">
               </a>
            </div>

            <div class="toggle-icon">
               <button id="toggleBarId" class="toggle-bar" onclick="menuOpen()" style="display: block;">
                  <img src="assets/images/icons/toggle.svg" alt="Toggle Logo">
               </button>
               <button id="toggleCrossId" class="toggle-cross" onclick="menuClose()" style="display: none;">
                  <img src="assets/images/icons/cross.svg" alt="Cross Logo">
               </button>
            </div>
         </div>

         <div id="mobileMenu" class="mobile-menu" style="display: none;">
            <ul>
               <li>
                  <a href="about.html">About</a>
               </li>
               <li>
                  <a href="coming-soon.html">BITTE</a>
               </li>
               <li>
                  <a href="#">Visit</a>
               </li>
               <li>
                  <a href="#">Exhibit</a>
               </li>
               <li>
                  <a href="#">PR & Media</a>
               </li>
               <li>
                  <a href="#">Promotion</a>
               </li>
               <li>
                  <a href="#">Partner</a>
               </li>
               <li>
                  <a href="#">Contact us</a>
               </li>
            </ul>

         </div>
      </div><!-- Responsive Menu End -->

      <div class="custom-container">
         <div class="header-top-werapper">
            <div class="logo">
               <a href="index.html">
                  <img src="assets/images/logo.png" alt="Logo">
               </a>
            </div>
            <div>
               <a href="#">
                  <img class="top-banner" src="assets/images/top-banner.png" alt="Banner">
               </a>
            </div>
            <div class="top-right-wrapper">

               <div class="d-flex flex-column">
                  <div class="social-icon c-mb-6">
                     <ul>
                        <li>
                           <a href="https://www.facebook.com/Bangladesh-International-Travel-Tourism-Expo-BITTE-101073642648043/?ref=pages_you_manage" target="_blank">
                              <img src="assets/images/icons/fb.svg" alt="Facebook">
                           </a>
                        </li>
                        <li>
                           <a href="https://www.instagram.com/bitte.atab/" target="_blank">
                              <img src="assets/images/icons/in.svg" alt="Instagram">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <img src="assets/images/icons/tw.svg" alt="Twiiter">
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <img src="assets/images/icons/link.svg" alt="Linkedin">
                           </a>
                        </li>
                     </ul>
                  </div>

                  <a class="bt-btn h-34" href="#">Contact us</a>
               </div>
            </div>
         </div>
      </div><!-- custom-container end -->

      <div class="header-banner" style="background-image: url('assets/images/banner-1.jpg');">
         <div class="custom-container">
            <div class="menu">
               <ul>
                  <li>
                     <a href="about.html">About us</a>
                  </li>
                  <li>
                     <a href="coming-soon.html">BITTE</a>
                  </li>
                  <li>
                     <a href="#">Visit</a>
                  </li>
                  <li>
                     <a href="#">Exhibit</a>
                  </li>
                  <li>
                     <a href="#">PR & Media</a>
                  </li>
                  <li>
                     <a href="#">Promotion</a>
                  </li>
                  <li>
                     <a href="#">Partner</a>
                  </li>
               </ul>
            </div>

            <div class="banner-content">
               <div class="calender">
                  <span class="date">14</span>
                  <span class="month">DEC</span>
                  <span class="year">2022</span>
               </div>
               <div class="banner-text">
                  <h1 class="banner-title">Reshaping <br> Travel Together <br> CONFERENCE IN DHAKA</h1>
                  <h3 class="banner-sub-title">World's most influential media, entertainment & technology show
                     inspirational speakers including game changing </h3>
                  <a href="#" class="bt-btn btn-secondary h-58">Register Now</a>
               </div>
            </div>
         </div><!-- custom-container end -->
      </div>
   </div>
</header>