<div id="registration" class="registration-select gray-bg container-padding-2">
   <div class="feature-body">
      <div class="custom-container">

         <div class="row">
            <div class="col-lg-12">
               <div class="mb-4 position-relative">
                  <h2 class="header-title">Make an enquiry today</h2>
                  <p class="registration-subtitle parargraph">Whether you have been part of the experience before, or
                     are
                     joining
                     us for the
                     first time, we look
                     forward to having you at BITTM London.</p>
                  <button id="registrationCloseButton" class="cross-button">
                     <img src="assets/images/close-square.svg" alt="close icon">
                  </button>
               </div>
            </div>
         </div>

         <div class="cards-body">
            <div class="cards">
               <div class="row">
                  <div class="col-md-6">
                     <div class="card-item">
                        <div>
                           <img class="card-img" src="assets/images/enquiry-1.jpg" alt="Enquiry">
                        </div>
                        <div class="card-text">
                           <h3>Exhibitor Enquiry</h3>
                           <p>
                              Gain a competitive edge during four days of business meetings with potential partners
                              and customers.
                           </p>
                           <div>
                              <a href="exhibitor-form.html" class="bt-btn h-48 btn-primary">Exhibitor Enquiry </a>
                           </div>
                        </div>
                     </div><!-- Card Item -->
                  </div>

                  <div class="col-md-6">
                     <div class="card-item">
                        <div>
                           <img class="card-img" src="assets/images/enquiry-1.jpg" alt="Enquiry">
                        </div>
                        <div class="card-text">
                           <h3>Register your interest</h3>
                           <p>
                              Join us for insighful industry knowledge, including the latest global trends and
                              innovations, research and topical debate.
                           </p>
                           <div>
                              <a href="advertisement-registration-form.html" class="bt-btn h-48 btn-primary">Visitor
                                 Enquiry</a>
                           </div>
                        </div>
                     </div><!-- Card Item -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>